body{
    padding: 20px;
}
.header{
    display: flex;
    margin: 20px auto 0;
    max-width: 1920px;
    background-color: #E7EAEE80;
    border-radius: 26px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.burger{
    background-image: url(../img/header__img.svg);
    width: 137px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
}
.header__nav{
    display: flex;
    gap: 28px;
    max-width: 900px;
}
.header__link-active{
    border-bottom: 1px solid black;
    font-size: 16px;
    font-family: Tilda Sans;
}
.header__link{
    font-size: 19px;
    line-height: 23px;
    font-family: Tilda Sans;
    font-weight: 400;   
}
.header__contacts{
    font-size: 18px;
    line-height: 29px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.header__btn{
    background-color: #292D3A;
    border-radius: 12px;
    width: 140px;
    height: 48px;
    color: white;
    font-size: 14px;
}
.breadcrumbs{
    margin-top: 60px;
}
.breadcrumbs__text{
    font-size: 18px;
}
.specialists{
    max-width: 1870px;
}
.specialists__title{
    margin-top: 50px;
    font-size: 32px;
}
.specialists__flex{
    display: flex;
    margin-top: 30px;
    gap: 28px;
}
.specialists__card{
    width: 291px;
    height: 471px;
}
.specialists__icon{
    max-width: 280px;
    max-height: 280px;
}
.card__title{
    font-size: 24px;
    margin-top: 32px;
}
.card__text{
    font-size: 18px;
    margin-top: 8px;
}
.card__link{
    margin-top: 30px;
    font-size: 25px;
    display: block;
}
.mobile{
    display: none;
}